:root {
  --main-bg-color: #f2f3f4;
  --apple-red: #b11b1b;
  --black-smoke-color: #303030;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Baloo Tammudu 2', cursive;
  background: var(--main-bg-color);
  background: url('./images/snake-in-tree.png') no-repeat;
  background-position-x: -170px;
  background-size: 700px;
}

@media(min-width: 501px) and (max-width: 768px) {
  body {
    background-size: 10%;
  }
}

header {
  background: url('./images/trees-navbar.png');
  background-size: cover;
  color: var(--main-bg-color);
  text-shadow: 3px 5px 2px #474747,
    2px 2px 2px rgba(206, 89, 55, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1rem;
  font-size: 1.25rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

img {
  background-color: var(--main-bg-color);
}

.score-box {
  text-align: center;
  height: 90%;
  margin: 1rem;
  padding: 10px;
  width: 50%;
  font-size: 2rem;
}

.points {
  color: var(--apple-red);
  font-weight: bold;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    color: orangered;
  }

  50% {
    color: var(--apple-red);
  }

  100% {
    color: orangered;
  }
}

.canvas-container {
  border: 3px solid var(--black-smoke-color);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.apple-icon {
  color: var(--apple-red);
}

.trophy {
  color: gold;
}

.instructions {
  text-align: center;
}

/* Modal */
.body-blackout {
  position: absolute;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .65);
  display: none;
}

.is-blacked-out {
  display: block;
}

.snake-modal {
  width: 300px;
  border-radius: 25%;
}

.popup-modal {
  height: 365px;
  text-align: center;
  width: 650px;
  color: var(--black-smoke-color);
  color: #f2f3f4;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 45px;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out;
  z-index: 1011;
  border-radius: 25%;
  cursor: pointer;
}

.is--visible {
  opacity: 1;
  pointer-events: auto;
}

.click-close {
  position: absolute;
  font-size: 1.2rem;
  top: -10px;
  cursor: pointer;
}