:root {
  --main-bg-color: #f2f3f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Baloo Tammudu 2', cursive;
  background: var(--main-bg-color);
}

header {
  background-color: #303030;
  color: var(--main-bg-color);
  box-shadow: 2px 2px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1rem;
  font-size: 1.25rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-box {
  text-align: center;
  height: 90%;
  margin: 1rem;
  padding: 10px;
  width: 50%;
  font-size: 2rem;
}

.canvas-container {
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameCanvas {
  /* display: flex;
  justify-content: center; */
}

.apple-icon {
  color: #b11b1b;
}

.trophy {
  color: gold;
}

.instructions {
  text-align: center;
}